<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/Nordkirche/NkcBase/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="map-tooltip">
		<div class="map-tooltip__info">
			<div class="image">
				<n:image image="{event.picture}" width="80c" height="80c" />
			</div>

			<strong>
				{event.title}
			</strong>

			<br />

			<f:render partial="Event/DateShort" arguments="{event: event}" />

			<br /><br />

			{event.locationName}
			<br />

			<f:if condition="{addConfig.digitalEvent}">
				<f:then>
				    <f:if condition="{event.externalLink}">
					    {event.externalLink -> n:makeClickable()}
					</f:if>
				</f:then>
				<f:else>
					<f:render partial="Event/Address" arguments="{address: event.address}" />
				</f:else>
			</f:if>
		</div>

		<div class="map-tooltip__links">

			<f:if condition="{settings.mapInfo.recordUid} != {event.id}">
				<f:if condition="{settings.backendContext}">
					<f:then>
						<f:comment>Speziellen Link ViewHelper nutzen</f:comment>
						<f:if condition="{settings.flexform.pidEventSingle}">
							<f:then>
								<n:link.page class="link link--icon" pageUid="{settings.flexform.pidEventSingle}" additionalParams="{tx_nkcevent_main: {uid: event.id}}">Mehr erfahren</n:link.page>
							</f:then>
							<f:else>
								<n:link.page class="link link--icon" pageUid="{settings.flexform.pidSingle}" additionalParams="{tx_nkcevent_main: {uid: event.id}}">Mehr erfahren</n:link.page>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{settings.flexform.pidEventSingle}">
							<f:then>
								<f:link.page class="link link--icon" pageUid="{settings.flexform.pidEventSingle}" additionalParams="{tx_nkcevent_main: {uid: event.id}}">Mehr erfahren</f:link.page>
							</f:then>
							<f:else>
								<f:link.page class="link link--icon" pageUid="{settings.flexform.pidSingle}" additionalParams="{tx_nkcevent_main: {uid: event.id}}">Mehr erfahren</f:link.page>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:if>

			<f:if condition="!{addConfig.digitalEvent}">
				<br />
				<f:if condition="{event.address.street} && {event.address.zipCode} && {event.address.city}">
					<a class="link link--icon" target="_blank" href="https://maps.google.de/?daddr={event.address.street}%20{event.address.zipCode}%20{event.address.city}">Route berechnen</a>
				</f:if>
			</f:if>

            <br /><br />

		</div>

    </div>
</html>
